@mixin categories {
  #id_body_categories{
    
    #id_div_categories{
      width: fit-content;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
      
      #id_table_categories{
        border-collapse: collapse;

        #id_tr_header{
          th{
            padding-left: 7px;
            padding-right: 7px;
          }
        }
  
        .class_tr_category{
          th{
            border: 1px solid black;
            padding-left: 7px;
            padding-right: 7px;

            a{
              color: inherit;
            }
          }
        }
      }
    }
  }
}