@mixin header {
  #id_header{
    h1{
      text-align: center;
    }

    h3{
      text-align: center;
    }

    h5{
      text-align: center;
      margin-top: 5px;
      margin-bottom: 5px;
    }

    #id_header_navigation{
      text-align: center;
      min-height: 21px;
    }
    
    #id_header_div_language{
      display: inline-block; 
      position: absolute;
      top: 0px;
      left: 0px;

      a{
        display: inline-block;
        text-decoration: none;
        color: inherit;
        margin: 10px 3px 0px 3px;

        p{
          display: inline-block;
          margin: 0px;
        }
      }
    }
  }
}