@mixin header {
  #id_header{
    h1{
      text-align: center;
    }

    h3{
      text-align: center;
    }

    h5{
      text-align: center;
      margin-top: 5px;
      margin-bottom: 5px;
    }

    #id_header_navigation{
      text-align: center;
      min-height: 21px;
    } 
  }
}