@mixin search {
  #id_body_search{

    #id_div_search{
      width: fit-content;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;


      #id_form_search{
        text-align: center;

        div{
          display: inline-block;
        }

        #id_input_search{
          width: 160px;
        }

        #id_input_search2{
          width: 160px;
        }

        #id_button_search{
          width: 60px;
        }
      }

      #id_div_search_results{

        margin-top: 15px;

        .class_div_search_result{
          width: 570px;
          margin-bottom: 6px;
          border: 1px solid black;
          padding: 5px;

          .class_div_search_result_title{
            margin: 0px 0px 3px 0px;
            font-weight: 600;
          }

          .class_div_search_result_author{
            display: inline-block;
            margin: 0px 0px 5px 0px;
            font-size: 0.8em;
          }

          .class_div_search_result_publication_year{
            display: inline-block;
            margin: 0px 0px 5px 10px;
            font-size: 0.8em;
          }

          .class_div_search_result_publication_year{
            display: inline-block;
            margin: 0px 0px 5px 10px;
            font-size: 0.8em;
          }

          .class_div_search_result_language_name{
            display: inline-block;
            margin: 0px 0px 5px 10px;
            font-size: 0.8em;
          }

          .class_div_search_result_category_name{
            display: inline-block;
            margin: 0px 0px 5px 10px;
            font-size: 0.8em;
          }

          .class_div_search_result_document_name{
            margin: 0px 0px 5px 0px;
            display: inline;
            color: #00f;
          }

          .class_div_search_result_highlight{
            margin: 0px;
          }
        }
      }
    }
  }
}