@mixin search {
  #id_body_search{

    #id_div_search{
      width: fit-content;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;


      #id_form_search{
        text-align: center;

        #id_input_search{
          width: 400px;
        }
        #id_button_search{
          width: 60px;
        }
      }

      #id_div_search_results{

        margin-top: 15px;

        .class_div_search_result{
          width: 570px;
          margin-bottom: 6px;
          border: 1px solid black;
          padding: 5px;

          .class_div_search_result_title{
            margin: 0px 0px 5px 0px;
            font-weight: 500;
          }

          .class_div_search_result_highlight{
            margin: 0px;
          }
        }
      }
    }
  }
}