@mixin users_edit {
  #id_body_users_edit{
    width: 200px;
    margin: auto;

    form{
      margin-top: 100px;
      text-align: center;

      p{
        font-weight: bold;
      }

      #id_div_input_fields{
        width: 100%;
        margin: 5px 0px;

        div{
          text-align: left;
          margin: 5px 0px;

          p{
            margin: 0;
            font-weight: normal;
          }

          input{
            width: 100%;
            box-sizing: border-box;
          }
        }
      }

      #id_div_roles{
        text-align: left;

        p{
          margin: 0px;
          font-weight: normal;
        }

        div{
          margin-left: 15px;

          p{
            display: inline-block;
          }
        }
      }

      #id_div_form_submit{
        width: 100%;
        margin-top: 12px;

        button{
          margin: 5px;
        }

        a{
          margin: 5px;
        }
      }
    }

    > p{
      text-align: center;
      font-size: 0.8em;
    }
  }
}