#id_header h1 {
  text-align: center;
}
#id_header h3 {
  text-align: center;
}
#id_header #id_header_navigation {
  text-align: center;
  height: 21px;
}

#id_body_login {
  width: 200px;
  margin: auto;
}
#id_body_login form {
  margin-top: 100px;
  text-align: center;
}
#id_body_login form p {
  font-weight: bold;
}
#id_body_login form #div_input_fields {
  width: 100%;
  margin: 5px 0px;
}
#id_body_login form #div_input_fields div {
  text-align: left;
  margin: 5px 0px;
}
#id_body_login form #div_input_fields div p {
  margin: 0;
  font-weight: normal;
}
#id_body_login form #div_input_fields div input {
  width: 100%;
  box-sizing: border-box;
}
#id_body_login form #div_form_submit {
  width: 100%;
  margin-top: 12px;
}
#id_body_login form #div_form_submit button {
  margin: 5px;
}
#id_body_login form #div_form_submit a {
  margin: 5px;
}
#id_body_login > p {
  text-align: center;
  font-size: 0.8em;
}

#id_body_register {
  width: 200px;
  margin: auto;
}
#id_body_register form {
  margin-top: 100px;
  text-align: center;
}
#id_body_register form p {
  font-weight: bold;
}
#id_body_register form #div_input_fields {
  width: 100%;
  margin: 5px 0px;
}
#id_body_register form #div_input_fields div {
  text-align: left;
  margin: 5px 0px;
}
#id_body_register form #div_input_fields div p {
  margin: 0;
  font-weight: normal;
}
#id_body_register form #div_input_fields div input {
  width: 100%;
  box-sizing: border-box;
}
#id_body_register form #div_form_submit {
  width: 100%;
  margin-top: 12px;
}
#id_body_register form #div_form_submit button {
  margin: 5px;
}
#id_body_register form #div_form_submit a {
  margin: 5px;
}
#id_body_register > p {
  text-align: center;
  font-size: 0.8em;
}

#id_body_users #id_table_users {
  width: 100%;
  border-collapse: collapse;
}
#id_body_users #id_table_users .class_tr_user th {
  border: 1px solid black;
}

#id_body_users_edit {
  width: 200px;
  margin: auto;
}
#id_body_users_edit form {
  margin-top: 100px;
  text-align: center;
}
#id_body_users_edit form p {
  font-weight: bold;
}
#id_body_users_edit form #id_div_input_fields {
  width: 100%;
  margin: 5px 0px;
}
#id_body_users_edit form #id_div_input_fields div {
  text-align: left;
  margin: 5px 0px;
}
#id_body_users_edit form #id_div_input_fields div p {
  margin: 0;
  font-weight: normal;
  display: inline-block;
}
#id_body_users_edit form #id_div_input_fields div input {
  width: 100%;
  box-sizing: border-box;
}
#id_body_users_edit form #id_div_input_fields div #id_checkbox_role_admin {
  width: auto;
  margin: 2px 2px 2px 15px;
  vertical-align: middle;
}
#id_body_users_edit form #id_div_roles {
  text-align: left;
}
#id_body_users_edit form #id_div_roles p {
  margin: 0px;
  font-weight: normal;
}
#id_body_users_edit form #id_div_roles div {
  margin-left: 15px;
}
#id_body_users_edit form #id_div_roles div p {
  display: inline-block;
}
#id_body_users_edit form #id_div_form_submit {
  width: 100%;
  margin-top: 12px;
}
#id_body_users_edit form #id_div_form_submit button {
  margin: 5px;
}
#id_body_users_edit form #id_div_form_submit a {
  margin: 5px;
}
#id_body_users_edit > p {
  text-align: center;
  font-size: 0.8em;
}

/*# sourceMappingURL=style.css.map */
